.category {
  text-align: center;
  margin: 30px 0 50px 0;
}
.posting {
  margin: 0 auto;
  max-width: 700px;
}
.posts {
  margin-top: 15px;
  padding-left: 20px;
  border-left: 1px solid transparent;
}

.posts:hover {
  border-left: 1px solid #35a354;
}

.card {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.thumbnail {
  width: 100px;
  height: 100px;
  margin-right: 2rem;
}

.card p {
  color: rgb(98, 95, 95);
  margin-top: 4px;
}

.card h3 {
  font-weight: 500;
}

button {
  outline: 0;
  border: none;
  font-size: 1rem;
  margin: 4px 8px;
  padding: 6px 12px;
  color: white;
  background-color: #35a354;
}

button:hover {
  box-shadow: 2px 2px #21232b;
}

@media screen and (min-width: 620px) {
  button {
    font-size: 1.2rem;
    padding: 6px 12px;
  }
}

@media screen and (min-width: 960px) {
  .posts {
    margin-top: 40px;
  }

  .card p {
    font-size: 1.3rem;
  }

  .card h3 {
    font-weight: 500;
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1200px) {
}
