.card {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  color: #343a40;
  padding: 0 10px;
  border-left: 1px solid white;
}

.card p {
  color: rgb(98, 95, 95);
  margin-top: 4px;
}

.card h3 {
  font-weight: 500;
}

.card:hover {
  border-left: 1px solid #35a354;
}
.thumbnail {
  width: 100px;
  height: 100px;
  margin-right: 2rem;
}

.categories {
  text-align: center;
  margin: 50px 0;
}

button {
  outline: 0;
  border: none;
  font-size: 1rem;
  margin: 4px 8px;
  padding: 6px 12px;
  color: white;
  background-color: #35a354;
}

button:hover {
  box-shadow: 5px 5px #1b1d25;
}
